@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&display=swap');

:root{
    --cinza-escuro2: #101828;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --backgroud: #FFFFFF;
    --metricas: #8E2424;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--backgroud);
    width: 100%;
    height: 100vh;
}
